// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list-wrap {
  display: flex;
  flex-wrap: wrap;
}

.list-box {
  width: 200px;
  height: 250px;
  margin: 10px;
}

.list-comment {
  width: 200px;
}
