<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <div style="text-align:center">
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
      お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</br>
      様々なバリエーションをご⽤意しております。</br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</br>
      ぜひご注⽂ください。</p>
      <div class="background-image">
        <img src="/assets/000000000083_GiiskJa.png" alt="">
      </div>
    </div>
    </div>
  </div>
</div>