<div class="container">
  <div class="row">
    <p>ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
    </p>
      <thead>
        <% @items.each do |item| %>
          <tr>
            <td><%= attachment_image_tag(item, :image, :fill, 50, 70, fallback: "no-image-icon.jpg") %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
      </thead>
  </div>
</div>
